:root {
  --black: #000000;
  --white: #ffffff;
  --white-light: #eaeaea;
  --blue-dark: #142740;
  --orange: #f23e16;
  --orange-dark: #d93223;
  --beige: #f2cda0;
  --beige-dark: #d9b07e;
  --gray: #838383;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
